@model Session


<div class="accordion accordion-flush">
    @{

        <h1>Тест огневая подготовка. Вариант @Model.NumVar</h1>

        <p class="text-dark">Результат: @Model.getRight()/@Model.SessionQuestions.Count</p>

        <p>Время начала: @Model.TimeStart.ToLongDateString() @Model.TimeStart.ToShortTimeString()</p>
        <p>Время окночания: @Model.TimeFinsih.ToLongDateString() @Model.TimeFinsih.ToShortTimeString()</p>

        <hr />

        //Questions

        foreach (var item in Model.SessionQuestions.
        OrderBy(x => x.Question.NumQ))
        {


            string className = "text-danger";
            if (item.GetRight())
            {
                className = "text-success";

            }


            <div class="accordion-item">
                <p>Вопрос: @item.Question.QuestionString</p>

                @{foreach (var answer in item.Question.Anwsers.Where(x=> x.Enter && x.Right))
                    {
                        <p class="@className">Выбранный ответ: @answer.Text</p>
                    }
                }
                @{foreach (var answer in item.Question.Anwsers.Where(x => x.Right))
                    {
                        <p class="@className">Выбранный ответ: @answer.Text</p>
                    }
                }

                <hr />

            </div>


        }
    }
</div>
