
@{

    @model List<Session>


    List<Session> Completed = Model.Where(x => x.Сompleted == true).ToList();
    List<Session> unComleted = Model.Where(x => x.Сompleted == false).ToList();



    await Html.RenderPartialAsync("Filter", new FilterModel());


    <h2 class="text-center">Незавершенные тесты</h2>
    foreach (var item in unComleted)
    {
        <a class="btn btn-info w-100 m-1" asp-action="Session" asp-controller="Session" asp-route-Id="@item.Id">
            @item.NumVar Вариант Name:@item.Name

        </a>

        <br />
    }


    <br />
    <hr />
    <h2 class="text-center">Завершенные тесты</h2>
    foreach (var item in Completed)
    {
        <a class="btn btn-success w-100 m-1" asp-action="Session" asp-controller="Session" asp-route-Id="@item.Id">
            @item.NumVar Вариант name:@item.Name
            <span class="badge badge-light">@item.GetRight()/@item.SessionQuestions.Count</span>
        </a>
        <br />
    }
}
