@model Session
@inject IStatisticsService Statisctic


<div class="accordion accordion-flush">
    @{

        // Вычисляем разницу между двумя датами
        TimeSpan duration = Model.TimeFinsih - Model.TimeStart;
        String durationStr = $"{duration.Hours}ч. {duration.Minutes}м. {duration.Seconds}с.";
        Stat stat = Statisctic.GetStatVar(Model.NumVar, Model.Id).Result;

        <div class="session-title">
            <div class="question-create-title question-create-title1">
                <p>ВАРИАНТ @Model.NumVar</p>
            </div>
            <div class="question-create-title2"><p>Тест по огневой подготовке</p></div>
        </div>

        <div class="info-container">
            <div class="info-item">

                <p class="info-item-title">Данные</p>
                <div class="info-item-texts">
                    <div class="info-item-text">
                        <dl>
                            <dt>Имя: @Model.Name</dt>
                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Результат: @Model.getRight()/@Model.SessionQuestions.Count</dt>
                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Время начала: @Model.TimeStart.ToShortDateString() @Model.TimeStart.ToShortTimeString()</dt>

                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Время выполнения: @durationStr</dt>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="info-item">
                <div class="newpie text-center">
                    <p class="info-item-title">Ваш результат</p>
                    <div class="pie animate no-round component" style="--p: @stat.CurrentPercent; --c: #6F2232 "> @stat.CurrentPercent% </div>
                </div>
            </div>


            <div class="info-item">
                <div class="newpie text-center">
                    <p class="info-item-title">Средний результат</p>
                    <div class="pie animate no-round component" style="--p: @stat.AveragePercent; --c: #6F2232; "> @stat.AveragePercent% </div>
                </div>
            </div>

        </div>




        //Questions

        foreach (var item in Model.SessionQuestions.
        OrderBy(x => x.Question.NumQ))
        {
            var right = item.GetRight();
            string classNameForDiv = "question-anwser-false-div";
            if (right)
                classNameForDiv = "question-anwser-true-div";



            <div class="accordion-item">
                <div class="question-item question-string">
                    <p>
                        @item.Question.NumQ: @item.Question.QuestionString
                       
                    </p>
                </div>

                <div class="question-item question-anwser @classNameForDiv">
                    @{
                        foreach (var answer in item.Question.Anwsers.Where(x => x.Enter))
                        {
                            if (answer.Right || right)
                            {
                                <p class="question-anwser-true">@answer.Text</p>
                            }
                            else
                            {
                                <p class="question-anwser-false">@answer.Text</p>
                            }
                        }
                    }
                </div>

                <div class="question-item question-right-warning">
                    
                    <div class="question-right">
                        @{
                            if (!right)
                                foreach (var answer in item.Question.Anwsers.Where(x => x.Right))
                                {
                                    <p>@answer.Text</p>
                                }
                        }
                    </div>

                    <div class="question-warning">
                        <a  asp-action="Create" asp-controller="Reports" asp-route-questionId="@item.Question.Id">
                           Сообщить об ошибке
                        </a>
                    </div>
                </div>
                
                <br />
            </div>
        }
    }
</div>
