@model Session
@inject IStatisticsService Statisctic


<div class="accordion accordion-flush">
    @{

        Stat stat = Statisctic.GetStatVar(Model.NumVar, Model.Id);


        <h1>Тест огневая подготовка. Вариант @Model.NumVar</h1>
        <hr />
        <br />

        <div class="info-container">
            <div class="info-item">

                <p class="info-item-title">Данные</p>
                <div class="info-item-texts">
                    <div class="info-item-text">
                        <dl>
                            <dt>Имя:</dt>
                            <dd>@Model.Name</dd>
                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Результат:</dt>
                            <dd>@Model.GetRight()/@Model.SessionQuestions.Count</dd>
                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Время начала:</dt>
                            <dd>@Model.TimeStart.ToLongDateString() @Model.TimeStart.ToShortTimeString()</dd>
                        </dl>
                    </div>

                    <div class="info-item-text">
                        <dl>
                            <dt>Время окночания:</dt>
                            <dd>@Model.TimeFinsih.ToLongDateString() @Model.TimeFinsih.ToShortTimeString()</dd>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="info-item">
                <div class="newpie text-center">
                    <p class="info-item-title">Ваш результат</p>
                    <div class="pie animate no-round component" style="--p: @stat.CurrentPercent; --c: rgb(218,239,20) "> @stat.CurrentPercent% </div>
                </div>
            </div>


            <div class="info-item">
                <div class="newpie text-center">
                    <p class="info-item-title">Средний результат</p>
                    <div class="pie animate no-round component" style="--p: @stat.AveragePercent; --c: rgba(117, 255, 23, 1); "> @stat.AveragePercent% </div>
                </div>
            </div>

        </div>


        <hr />

        //Questions

        foreach (var item in Model.SessionQuestions.
        OrderBy(x => x.Question.NumQ))
        {
            var right = item.GetRight();
            string classNameForDiv = "question-anwser-false-div";
            if (right)
                classNameForDiv = "question-anwser-true-div";



            <div class="accordion-item">
                <div class="question-item question-string">
                    <p>Вопрос @item.Question.NumQ: @item.Question.QuestionString</p>
                </div>

                <div class="question-item question-anwser @classNameForDiv">
                    @{
                        foreach (var answer in item.Enter)
                        {
                            if (answer.Right || right)
                            {
                                <p class="question-anwser-true">@answer.Text</p>
                            }
                            else
                            {
                                <p class="question-anwser-false">@answer.Text</p>
                            }
                        }
                    }
                </div>

                <div class="question-item question-right">
                    @{
                        foreach (var answer in item.Question.Anwsers.Where(x => x.Right))
                        {
                            <p>@answer.Text</p>
                        }
                    }
                    <div>
                        <a class="text-warning" asp-action="Create" asp-controller="Reports" asp-route-questionId="@item.Question.Id">Я нашел ошибку!</a>
                    </div>

                </div>
                <hr />
            </div>
        }
    }
</div>
