@model SessionQuestion
@{
    //Title = $"Тест огневая подготовка. Вариант {Model.Question.NumVar}";

    int CountQuestions = (int)ViewData["CountQuestions"];
    Model.Question.Anwsers = Model.Question.Anwsers.OrderBy(x => x.Text).ToList();

    string disable = Model.Blocked ? "disable" : String.Empty;

}

<div id="customAlert" class="custom-alert-overlay" style="display: none;">
    <div class="custom-alert-box">
        <p class="custom-alert-text"></p>
        <button class="btn btn-outline-primary w-100" onclick="hideCustomAlert()">Закрыть</button>
    </div>
</div>


<h3 class="text-center">Тест огневая подготовка. Вариант @Model.Question.NumVar</h3>

<div class="show-comlete-sessions-btn">
    <a class="btn btn-info show-session-btn question-btn" asp-controller="Session" asp-action="Session" asp-route-Id="@Model.SessionId">Просмотр сессии</a>


    <a class="btn btn-outline-success justify-content-end complete-session-btn question-btn" asp-controller="Session" asp-action="Complete" asp-route-SessionId="@Model.SessionId">Закончить сессию</a>
</div>
<hr />

<div class="tabs">
    <div class="prev-tab">
    </div>
    <div class="tab">
        <form id="qusetionForm" asp-controller="Session" asp-action="Question" method="post">
            <h3>
                @Model.Question.NumQ @Model.Question.QuestionString
                <a class="align-self-center" asp-action="Create" asp-controller="Reports" asp-route-questionId="@Model.Question.Id">
                    <img class="warning" src="~/img/warning.png" alt="Сообщить об ошибке" />

                </a>
            </h3>

            <hr />
            @{
                if (Model.Question.NoVariant)
                {
                    var text = "";
                    if (Model.Enter.Count > 0)
                        text = Model.Enter.FirstOrDefault().Text;
                    <div class="">
                        <input class="form-control" @disable
                               value="@text" asp-for="Enter.FirstOrDefault().Text" />
                        <br />
                    </div>
                }
                else
                    for (int i = 0; i < Model.Question.Anwsers.Count; i++)
                    {
                        var answer = Model.Question.Anwsers[i];


                        string className = "";
                        var mybool = Model.Enter.Any(x => x.Id == answer.Id);
                        if (mybool)
                            className = "btn-primary";
                        else
                            className = "btn-light";


                        <div class="question btn @className w-100">
                            <input class="question-input disabled" @disable type="radio" value="@answer.Id" asp-for="Question.Anwsers[i]" checked="@mybool" />
                            <span class="">@answer.Text</span>

                            <br />
                        </div>
                    }
            }

            <hr />


            @Html.Hidden("SessionId", Model.SessionId)
            @Html.Hidden("NumQ", Model.Question.NumQ)
        </form>

    </div>
    <div class="next-tab">
    </div>
</div>

<div class="prev-next-btns">
    @if (Model.Question.NumQ != 1)
    {
        <a class="btn btn-outline-dark prev-btn question-btn" asp-controller="Session" asp-action="Question" asp-route-SessionId="@Model.SessionId" asp-route-NumQ="@(Model.Question.NumQ-1)" asp->Предыдущий вопрос</a>
    }

    @if (Model.Question.NumQ < CountQuestions)
    {
        <a class="btn btn-outline-primary next-btn question-btn" asp-controller="Session" asp-action="Question" asp-route-SessionId="@Model.SessionId" asp-route-NumQ="@(Model.Question.NumQ+1)">Следующий вопрос</a>
    }

    <a class="btn btn-outline-dark prev-btn show-anwser-btn"
       asp-controller="Session"
       asp-action="ShowAnwser"
       SessionId="@Model.SessionId"
       NumQ="@(Model.Question.NumQ)">Показать/спрятать ответ</a>


    <div class="hidden show-anwser-container">
    </div>

</div>


<style type="text/css">
    .notsaved {
        opacity: 0;
        color: gray;
    }

    .saved {
        opacity: 100;
        color: gray;
    }
</style>


<script src="~/js/question.js" asp-asp-append-version="true" type="text/javascript">



</script>