@model Session



@{
    double percent = Math.Round((Convert.ToDouble(Model.GetEnterd()) / Convert.ToDouble(Model.SessionQuestions.Count)) * 100);
    <div class="session-title">
        <div class="question-create-title question-create-title1">
            <p>ВАРИАНТ @Model.NumVar</p>
        </div>
        <div class="question-create-title2"><p>Тест по огневой подготовке</p></div>
    </div>

    <div class="progress-session-complete">
        <div class="progress progress-session-complete-item">
            <div class="progress-bar p-1" role="progressbar" style="width:@percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">@percent%</div>
        </div>

        <a class="btn session-complete progress-session-complete-item" asp-controller="Session" asp-action="Complete" asp-route-SessionId="@Model.Id">
            <div>
                Закончить сессию
            </div>
        </a>
    </div>



    <div class="question-session-list">
        @foreach (var item in Model.SessionQuestions.OrderBy(x => x.Question.NumQ))
        {
            string colorClass = "question-session-start";

            if (item.GetEnter())
                colorClass = "question-session-fin";

            <a class="btn m-1 question-session @colorClass" asp-action="Question" asp-controller="Session"
               asp-route-SessionId="@Model.Id"
               asp-route-NumQ="@item.Question.NumQ">
                <div class="question-session-card">
                    <div class="question-session-numvar">   @item.Question.NumQ </div>
                    <div class="question-session-text">@item.Question.QuestionString</div>
                </div>
            </a>
        }
    </div>

}